@charset "UTF-8";


.search{
	float: left;
	width: 360px;
}

#map{
	float: right;
	width: 360px;
	height: 100%;
	background: green;
}

.input-group mb-3{
	float: left;
}

.btn btn-light{
	float: left;
}

.list_wrap{
	position: relative;
	border: thin;
}

.list_wrap ul{
	position: relative;
	list-style: none;
}

.listhost {
	position:relative;
	float: left;
	width: calc(100% / 3 - 23px);
	width: 300px;
	height: 
	margin-right: 20px;
	margin-bottom: 30px;
}

.listhost:nth-child(3n){
	margin-right:0;    
}

#thmimg {
	background-color: none;
	margin-bottom: 10px;
	width: 300px;
	height: 270px;
	clear: both;
}

#shortintro{
	width: 270px;
	float: left;
	clear: both;
}

#wish{
	width: 30px;
	float: right;
	clear: both;
}

#shortintro a {
	text-decoration:none;
	color:inherit;
}

#shortintro a:hover{
	font: bold;
}

.clearfix{
	padding-left: 0px;
}
