@charset "UTF-8";


.container-app {
	display: flex;
}

.search{
	float: left;
	width: 50%;
}

.map_wrap{
    visibility: hidden!important;
    position: fixed;
    z-index: 900;
    right: 0;
    top: 0;
    bottom: 58px;
    width: 40%;
    display: flex;
}
}

#maps{
    height: 100%;
    background: green;
    width: 100%;
}

.input-group mb-3{
	float: left;
}

.btn btn-light{
	float: left;
}

.list_wrap{
	position: relative;
	width: 100%;
	border: thin;
}

.list_wrap ul{
	position: relative;
	list-style: none;
}

.listhost {
	position:relative;
	float: left;
	width: calc(100% / 2 - 33px);
	margin-right: 20px;
	margin-bottom: 20px;
}

.listhost:nth-child(2n){
	margin-right:0;    
}

#thmimg {
	width: 100%;
	/* min-height: 319px; */
	min-height: 346.25px;
	background-color: none;
	margin-bottom: 10px;
}

#thmimg img{
	width: 100%;
	object-fit: cover;
	height: 346.25px;
}

#shortintro{
	width: 90%;
	float: left;
	clear: both;
}

#wish{
	width: 10%;
	float: right;
}

.btnwish {
	background-color: white;
	border: none;
	padding: 0;
}

#wish img{
	width: auto;
	height: auto;
}

#shortintro a {
	text-decoration:none;
	color:inherit;
}

#shortintro a:hover{
	font: bold;
}

.clearfix{
	padding-left: 0px;
}
