@charset "UTF-8";

h3{
	padding-left: 40px;
}

li{
   	padding-bottom: 40px;
}

li a{
	line-height:3;
	text-decoration:none;
	color:inherit;
}

li:hover{
	font-weight:bold;
}

img{
	width: 30px;
	height: 30px;
}

#nav{
	list-style: none;
}

#container{
    width: 250px;
    height: auto;
    float: left;
    display: block;
    padding-top: 46px;	
    background-color: #C8FAC8;
}
	