@charset "UTF-8";

.mplist a{
	text-decoration:none;
	color:inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

.container {
	flex: 1;
}

.mainImg {
	padding: 0px;
	width: 1300px;
}